@layer utilities {
  .visible {
    visibility: visible;
  }
  .invisible {
    visibility: hidden;
  }
}

@layer utilities {
  .page-static {
    @apply static z-auto overflow-visible;
    contain: none;
  }

  .page-overlay {
    @apply absolute z-1040 overflow-visible;
    contain: none;
  }
}

@layer components {
  .navbar {
    @apply sticky;
  }

  .navbar__brand {
    @apply font-brand text-4xl text-orange-600;
  }

  .navbar__logo img {
    @apply align-top;
  }

  .navbar__title {
    @apply relative -top-[2px];
  }
}
