@layer utilities {
  .visible {
    visibility: visible;
  }
  .invisible {
    visibility: hidden;
  }
}

@layer utilities {
  .page-static {
    @apply static z-auto overflow-visible;
    contain: none;
  }

  .page-overlay {
    @apply absolute z-1040 overflow-visible;
    contain: none;
  }
}

@layer components {
  .navbar {
    @apply sticky;
  }

  .navbar__brand {
    @apply font-brand text-5xl text-orange-600 hover:text-orange-600;
  }

  .navbar__logo img {
    @apply align-top;
  }

  .navbar__title {
    @apply relative -top-[5px];
  }

  #accordion .accordion-button:not([data-te-collapse-collapsed]) {
    @apply text-orange-500 text-5xl text-opacity-100 !important;
  }

  #accordion .accordion-button:not([data-te-collapse-collapsed]) ion-icon {
    @apply rotate-90 text-4xl top-4 !important;
    /* @apply text-3xl top-4 !important;
    -webkit-transform: rotate(135deg) !important;
    transform: rotate(135deg) !important; */
  }

  #accordion .accordion-button:not([data-te-collapse-collapsed]):after {
    @apply absolute left-0 bg-orange-500 w-14;
    content: '';
    bottom: -8px;
    height: 4px;
  }
}


